
      <p>Thông tin sinh viên {{student.name}}</p>
      <p>{{student.age}}</p>
      <p>{{student.math}}</p>
      <p>{{student.physical}}</p>
      <p>{{student.chemistry}}</p>
      <p>{{student.average}}</p>
